@import url("https://fonts.cdnfonts.com/css/inter");
* {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: monospace;
  font-size: 1rem;
  user-select: all;
  padding: 3px;
  background-color: #333;
}

hr {
  border: none; /* Remove the default border */
  height: 1px;
}

hr {
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.3); /* Horizontal offset, vertical offset, blur radius, color */
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000;
  width: 100vw;
  color: #fff;
  box-sizing: border-box;
}

nav {
  padding: 0.5rem 1rem;
  height: calc(10vh - 1rem);
  width: calc(100% - 2rem);
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 2px #111;
  background: #1d3a0368;
  margin-bottom: 20px;
  backdrop-filter: blur(3px);
  z-index: 999;
}

.nav-menu {
  display: none;
}

.menu-button {
  display: none;
}

.menu-button.visible-menu-button {
  display: block;
  animation-name: fadeOutIcon;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.fade-animation {
  animation-name: fadeOutIcon;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes fadeOutIcon {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo > img {
  width: 100px;
  object-fit: contain;
  object-position: center;
}

.logo a {
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
  color: greenyellow;
  font-family: monospace;
}

.navlinks {
  display: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
}
.nav-links li a {
  display: block; /* Change to inline-block to allow pseudo-elements to work properly */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: green;
  position: relative; /* Required for absolute positioning of pseudo-elements */
}

.nav-links li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 20%;
  background-color: greenyellow;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.nav-links li a:hover::before {
  opacity: 1;
  width: calc(100% - 20px);
}

section {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

section > h2 {
  color: greenyellow;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

body {
  background-image: linear-gradient(to top, #0c1801ee, #000000), url('./images/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#sessions-section {
  min-height: 90vh;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hero-text {
  font-size: 2rem;
  display: flex;
  gap: 5px;
  padding: 10px;
  background: #1d3a03;
  min-height: 6rem;
  width: 100%;
  align-items: center;
}
.welcome-text {
  width: calc(100% - 2rem);
}
.welcome-text p {
  font-family: monospace;
  color: greenyellow;
  font-size: 1rem;
}

.quote {
  font-family: monospace;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

*::selection {
  background: rgb(89, 241, 89);
  color: #111;
}

.quote::selection,
.main-quote::selection {
  background: greenyellow;
  color: #000;
}

.main-quote {
  margin: 0;
  color: greenyellow;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.about {
  min-height: 90vh;
}

.about > p {
  padding: 1rem;
  line-height: 30px;
}

.testimonials {
  margin-top: 20px;
  width: 100%;
}

.testimonials h3 {
  text-align: center;
}

.testimonies {
  display: flex;
  gap: 10px;
}

.testimonial {
  min-width: 200px;
  background: linear-gradient(#363636d8, #36363648);
  background: linear-gradient(hsl(#363636d8, transparent));
  background: radial-gradient(ellipse at top, #1d3a03, transparent);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(50, 86, 31, 0.902);
  transition: all 1s ease-in-out;
}

.testimonial > blockquote {
  font-style: italic;
}

.testimonial:hover {
  box-shadow: 0 0 2px #1d3a03;
}

blockquote > footer {
  text-align: right;
  font-weight: bold;
  color: green;
}

.special-thanks {
  background-color: #3636368f;
  background: radial-gradient(ellipse at top, #1d3a03, transparent);
  box-shadow: 0 0cap 2px #244a03;
  border-radius: 8px;
  margin: 0 auto;
  padding: 1rem;
}

.special-thanks .name {
  font-size: 1.1rem;
  font-style: normal;
  font-family: monospace;
}

.special-thanks .title {
  font-size: 1.1rem;
  font-weight: bold;
}

.special-thanks a {
  text-decoration: none;
  color: greenyellow;
}

.contact-section {
  height: max-content;
  max-width: 1000px;
  /* background-color: #00ff11; */
  padding: 1rem;
}

.contact {
  display: flex;
  padding: 1rem 0;
  height: calc(100% - 2rem);
  justify-content: center;
}

.contact-form {
  height: max-content;
  display: flex;
  padding: 1rem 10px;
  width: calc(90% - 20px);
  max-width: 500px;
  border-radius: 8px;
  background: radial-gradient(ellipse at top, #1d3a03, transparent);
  /* background: radial-gradient(ellipse at top, #c0dda8, transparent); */
  box-shadow: 0 2px 4px rgba(50, 86, 31, 0.902);
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.contact-form h3 {
  margin: 0;
}

.formcheck {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2px 0;
  padding: 10px;
  width: calc(100% - 40px);
}

.formcheck input,
textarea {
  all: unset;
  background: #ececec;
  background: radial-gradient(ellipse at top, #c0dda8, transparent);
  color: #fff;
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 4px;
}
.formcheck input:focus,
textarea:focus {
  background: #c0dda8;
  color: #111;
}

.formcheck input:not(:placeholder-shown):invalid,
.formcheck textarea:not(:placeholder-shown):invalid {
  outline: yellow solid 2px;
}

.formcheck input:not(:placeholder-shown):user-valid,
.formcheck textarea:not(:placeholder-shown):user-valid {
  outline: green solid 2px;
}

.formcheck input:not(:placeholder-shown):user-invalid,
.formcheck textarea:not(:placeholder-shown):user-invalid {
  outline: red solid 2px;
}

input[type="submit"] {
  border: 2px solid transparent;
  padding: 9px 14px;
  cursor: pointer;
  background: radial-gradient(ellipse at top, #c0dda8, transparent);
  color: #000;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.5s ease-out;
}

input[type="submit"]:hover {
  background: #c0dda8;
  box-shadow: 0 2px 4px rgba(50, 86, 31, 0.902);
}

.contact-information {
  padding: 0 10px;
  text-align: center;
  height: 100%;
  display: grid;
  place-items: center;
}

.contact-information h3,
.links,
.contact-information p {
  width: calc(100% - 20px);
}
.contact-information p::before {
  content: "* ";
}
.contact-information p {
  font-size: 0.8rem;
  color: #00ff11;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.links .row {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.row a {
  min-width: 100px;
  height: 100%;
}
.links a {
  display: flex;
  gap: 10px;
  height: fit-content;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #363636b6;
  border-radius: 7px;
  background: radial-gradient(ellipse at top, #1d3a03, transparent);
  box-shadow: 0 2px 4px rgba(50, 86, 31, 0.733);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.contact-information a .icon {
  font-size: 1.5rem;
}

.contact-information a .icon-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.to-top {
  all: unset;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #ffff;
  background: #000;
  font-size: 2.7rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.to-top:hover {
  color: #000;
  background: #fff;
}

/* a[data-icon="email"] {
  color: #ec3232;
}
a[data-icon="phone"] {
  color: blue;
}
a[data-icon="github"] {
  color: #fff;
}
a[data-icon="instagram"] {
  color: #a04b06;
}
a[data-icon="twitter"] {
  color: #fff;
}
a[data-icon="whatsapp"] {
  color: #31e503;
} */
a[data-icon]:hover {
  background: radial-gradient(ellipse at top, #c0dda8, transparent);
  color: #000;
}

.sessions-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.session {
  border-left: 2px solid rgb(51, 108, 20);
  padding: 1rem;
  margin: 10px 0;
  background: radial-gradient(ellipse at top, #1d3a03, transparent);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(50, 86, 31, 0.902);
  min-width: 400px;
  max-width: 450px;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}

.session a {
  color: greenyellow;
  display: block;
  text-align: center;
}

.session a:visited {
  color: green;
}

body > footer {
  margin-top: auto;
  box-shadow: 0 0 2px #cecece;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}

body > footer > p,
body > footer > p > span {
  font-size: 1rem;
  font-family: monospace;
}

/* media queries for responsiveness */
@media (max-width: 845px) {
  .nav-links {
    display: none;
  }
  .nav-menu {
    all: unset;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: greenyellow;
    transition: transform 0.5s ease-in-out;
  }
  .nav-menu:hover {
    transform: scale(1.1);
  }
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    z-index: 99;
    background: #142506f1;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;
  }

  .navlinks.visible {
    transform: translateY(0); /* Show the navlinks */
  }
  .navlinks a {
    all: unset;
    border: none;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    width: calc(100%);
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: greenyellow;
    transition: all 0.5s ease-out;
  }
  .navlinks a::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 0%;
    opacity: 0;
    height: 100%;
    background: rgba(172, 255, 47, 0.603);
    transition: all 0.5s ease-out;
  }
  .navlinks a:hover {
    color: #00ff11;
    box-shadow: 0 0 2px greenyellow;
    font-size: 2rem;
    font-weight: bold;
  }
  .navlinks a:hover + a {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .navlinks.visible a:hover::before {
    width: 100%;
    background: radial-gradient(ellipse at top, #c0dda8, transparent);
    opacity: 1;
  }
  body > footer > p,
  body > footer > p > span {
    font-size: 0.8rem;
    font-family: monospace;
  }
}

@media (max-width: 869px) {
  /* CSS rules for tablets */
  .contact-section {
    height: max-content;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    /* background-color: #00ff11; */
  }
  .contact-form {
    padding: 1rem 10px;
    width: calc(90% - 20px);
  }
  .contact-information {
    border: none;
    text-align: center;
    height: max-content;
    width: calc(90% - 20px);
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .testimonies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: max-content;
    width: 100%;
  }

  .testimonial {
    min-width: 300px;
    margin: 0;
  }
}

@media (max-width: 545px) {
  .quote {
    font-size: 1.2rem;
  }
  .hero-text {
    font-size: 1rem;
  }
  .session {
    min-width: 400px;
    max-width: 500px;
  }
  .contact-information,
  .contact-form {
    width: calc(100% - 20px);
  }
  .logo a {
    display: none;
  }
  section {
    max-width: 100vw;
  }
  body > footer > p,
  body > footer > p > span {
    font-size: 0.6rem;
    font-family: monospace;
  }
}

@media (max-width: 400px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .icon-name {
    display: none;
  }
  .links a {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding: 0;
    border-radius: 7px;
    background: radial-gradient(ellipse at top, #1d3a03, transparent);
    box-shadow: 0 2px 4px rgba(50, 86, 31, 0.733);
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
  }

  .session,
  .contact-form {
    min-width: 320px;
    max-width: 370px;
  }

  body > footer > p,
  body > footer > p > span {
    font-size: 0.4rem;
    font-family: monospace;
  }
}
